.navbar {
  padding: 1.2rem 1.2rem;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__buttons {
  display: flex;
  gap: 0.6rem;
}

.btn {
  padding: 0.6rem 1rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: none;
}

.btn--outline {
  background-color: transparent;
  color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
}

.btn--outline:hover {
  background-color: var(--color-primary-blue);
  color: #fff;
}

.btn--primary {
  background-color: var(--color-primary-blue);
  color: #fff;
}

.btn--primary:hover {
  background-color: #003356;
}
